*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;;
    padding:3rem 8rem;
    /* padding-top: 3rem; */
    /* color : hsl(36, 100%, 99%); */
}
body.show{
   background-color: hsl(233, 8%, 79%);
}
p{
    color: hsl(236, 13%, 42%);
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    font-weight: 400;

}
a:hover{
    color: hsl(5, 85%, 63%);
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav-list{
    display: flex;
    gap: 1.5rem;
}

nav .menu {
    display: none;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 2rem;
    /* grid-template-rows: 1fr 1fr 1fr; */
    gap: 1.2rem;
}

main img{
    grid-column:1/3;
    width: 100%;
    height: 100%;
}

.aside{
    background-color: hsl(240, 100%, 5%);
    padding: 1rem;
    grid-row: span 2;
    color: hsl(36, 100%, 99%);
    
}
.flex{
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    gap: 2rem;
}
.aside h2{
    color:  hsl(35, 77%, 62%)
}
.aside .heading{
   
    font-weight: 700;
    margin-bottom: 0.5rem;
    
}

.heading:hover{
    color :hsl(35, 77%, 62%);
    cursor: pointer;
}

.news_item {
    border-bottom: 1px solid hsl(233, 8%, 79%);
    padding-bottom: 2rem;
}
.news_item p{
    color:hsl(233, 8%, 79%);;
}
.flex :last-child{
    border: none;
}


main h1 {
    font-weight: 800;
}

.about {

}

.about p{
    font-size: 14px;
    padding-right: 1.7rem;
    line-height: 1.4rem;
}

.about button{
    background-color: hsl(5, 85%, 63%);
    outline: none;
    border: none;
    color: white;
    text-transform: uppercase;
    padding:1em 2em;
    cursor: pointer;
    margin-top: 2rem;
}

.about button:hover{
    background-color: hsl(240, 100%, 5%);
}

.list_item{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}
.list_item img{
    width: 100%;
    height: 100%;
    grid-column: span 1;
    /* height: auto; */
}
.flex_container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 10px;
  
}

strong{
    color: hsl(233, 8%, 79%);
    font-size: 2rem;
}

.item_heading{
    font-weight: 800;
}
.item_heading:hover{
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}


@media screen and (width < 600px){
    body{
        padding-inline: 1.5rem;
    }
    a{
        color: black;
    }
    nav .nav-list{
        display: none;
    }

    nav .menu {
        display: block;
        
        z-index: 999;
    }
    nav .menu .close{
        display: none;
    }
    
    
    nav .nav-list.show{
        display: flex;
        flex-direction: column;
        position: fixed;
        inset: 0 0 0 30%;
        background-color: white;
        padding-top: 10rem;
        padding-left: 2rem;
    }

    nav .menu.show .close{
        display: block;
        position: fixed;
        transform: translate(-100%,-50%);

        
    }
    nav .menu.show .open{
        display: none;
    }
    main{
        grid-template-columns: 1fr;
    }
    main > img{
        grid-column: span 1;
        /* grid-row: span 2; */
        content: url('./assets/images/image-web-3-mobile.jpg');
    }
    
    .aside{
        grid-row: 4;
    }

  



}